.idea/
*.iml
*.vcs.xml
# Базы данных
*.db
quantum-keep-428613-c3-32dc3787140b.json

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Конфигурационные файлы (по необходимости)
*.env
